:root {
    --primary-1: #3F51B5;
    --primary-2: #757DE8;
    --primary-3: #DEDEFF;
    --primary-4: #3361FF;
    --accent-1: #2196F3;
    --accent-2: #003F8F;
    --text-1: #333333;
    --text-2: #5C5C5C;
    --text-3: #4D5E80;
    --bg-01: #FFFFFF;
    --bg-02: #F5F6F7;
    --bg-03: #CCCCCC
}